body{
    margin : 0;
    font-family:Arial;
    color:rgb(4, 255, 247);
    background-image:url(tourists.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
}
.nav-links{
    display:flex;
    gap:20px;
}
.nav-links a{
    text-decoration:underline;
    color:darkblue;
    font-size:18px;
}
.nav-links a:hover{
    color:darkgreen;
    text-decoration:none;
}
.header-section{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:50px;
    margin-bottom: 200px;
    
}
.search-form{
    display:flex;
    align-items: center;
    background: white;
    border-radius: 50px;
    padding: 8px 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
}
.input-group{
    display: flex;
    align-items: center;
    flex: 1;
    padding:0 10px;
}
.divider{
    width: 1px;
    height: 30px;
    background-color:grey;
}
.search-button{
    background-color: green;
    font-size: 18px;
    border-radius: 50px;
    padding: 15px 25px;
    cursor: pointer;
}
.search-button:hover{
    background-color: rgb(3, 80, 3);
}
.logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color:rgb(0, 255, 255)
}
.logo img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.site-footer {
  background-color: lightseagreen;
  display:flex;
  justify-content:space-between;
  padding: 15px;
}
.footer-links{
    display: flex;
    gap: 20px;
}
.footer-links a{
    text-decoration: underline;
    color: darkblue;
}
